$fog: #F8F8F8;
$purple: #6A2DED;
$dark-purple: #151D38;
$tint: #64ffda;

html, body {
  height: 100%;
  background-color: $fog;
  overscroll-behavior: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  overflow-x: hidden;
}
body {
  overflow: auto;
  margin: 0;
  padding: 0;
}

.navbar.is-link {
  background-color: $fog;
  .navbar-menu.is-active {
    background-color: $fog;
  }
  .navbar-brand {
    .navbar-item {
      margin-left: 20px !important;
      img {
        max-height: 3rem;
      }
    }
    .navbar-item:hover {
      background: none !important;
    }
  }
  .navbar-burger {
    color: $purple;
  }
  .navbar-item {
    text-align: center;
    background: $fog;
    border: none;
    a {
      margin: 20px !important;
      padding: 1.2rem;
      border: 2px solid $purple;
      background: none;
      color: $purple !important;
      text-align: center;
      font-weight: 500 !important;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      border-radius: 30px;
      text-decoration: none;
      letter-spacing: normal;
      height: 40px;
      cursor: pointer;
      -webkit-transition: all .2s ease-in-out;
    }
    .button.is-primary.is-outlined.is-rounded:hover {
      background: $purple !important;
      color: $fog !important;
      border: 2px solid $purple;
    }

  }

}

.hero {
  background: $fog !important;
}

.hero-body {

  .container {
    color: $dark-purple;
    font-size: 1.4rem;
    line-height: 2;

    .title.is-1 {
      color: #6A2DED !important;
    }
    .subtitle.is-3 {
      color: $dark-purple !important;
      font-size: 1.2rem;
      font-weight: 200;
      line-height: 2;
    }
    .button {
      margin-top: 40px;
      margin-bottom: 0;
      height: 50px;
    }
    #btn-hire, #btn-resume {
      font-weight: 500 !important;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      border-radius: 30px;
      border: 2px solid $purple;
      text-decoration: none;
      line-height: 40px;
      letter-spacing: normal;
      height: 40px;
      width: 130px;
      cursor: pointer;
      -webkit-transition: all .2s ease-in-out;
    }
    #btn-hire {
      background: $purple;
      color: $fog;
      border: 2px solid $purple;
      margin-right: 10px;
    }
    #btn-resume {
      color: $purple;
      border: 2px solid $purple;
      background: transparent;
    }
    #btn-resume:hover {
      background: $purple;
      color: $fog;
      text-decoration: none;
    }
    #btn-hire:hover {
      background: $fog;
      color: $purple;
    }

    .social {
      margin: 20px 0 0 0;
      a {
        background: #eeeeee;
        border-radius: 2px;
        color: $dark-purple;
        font-size: 18px;
        height: 32px;
        width: 32px;
        display: inline-flex;
        text-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-decoration: none;
        box-sizing: inherit;
        margin-right: 10px;
        -webkit-transition: all .2s ease-in-out;
      }
      a > i {
        margin: 0 auto;
      }
      .fab {
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
      }
      .fa-linkedin-in, .fa-github, .fa-envelope {
        -webkit-transition: all .2s ease-in-out;
      }
      .fa-linkedin-in:hover, .fa-github:hover, .fa-envelope:hover {
        color: $purple;
        text-decoration: none;
      }
    }
  }
}

#about {
  background: $purple;
  h3 {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 150px;
    color: $fog;
    font-weight: 700;
  }
  .section-heading {
    .container {
      color: $fog;
      margin: 20px auto;
      max-width: 600px;
    }
  }
  .box {
    .columns.is-centered {
      margin: 0 auto;
      .column {
        i {
          color: $purple;
          text-decoration: none;
          font-size: 28px;
        }
        .fas {
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
        }
        .title.is-size-4.is-spaced {
          font-weight: 600;
          color: $dark-purple;
          font-size: 1.2rem !important;
        }
        .list-title.has-text-primary {
          font-weight: 600;
          font-size: 1rem !important;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          margin-top: 50px;
          margin-bottom: 10px;
          color: $purple !important;
        }

      }
    }
  }
  .column {
    padding: 60px 35px;
    ul {
      list-style: none;
      margin-left: 0;
      margin-top: 0;
    }
  }

}

#skills {
  background: $purple;
  h3 {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 150px;
    color: $fog;
    font-weight: 700;
  }
  .section-heading {
    .container {
      color: $fog;
      margin: 20px auto;
      max-width: 600px;
    }
  }
  .columns {
    .column {
      .card {
        background: none;
        box-shadow: none;
        height: 500px !important;
        .card-content {
          article {
            margin-bottom: 30px !important;
          }
          .media-content strong {
            color: $fog;
            font-weight: 600 !important;
            float: left;
            margin-bottom: 8px;
          }
          .media-content span {
            color: $fog;
            font-weight: 300 !important;
            float: right;
          }
        }
      }
    }
  }
}

#services {
  h3 {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 150px;
    color: $dark-purple;
    font-weight: 700;
  }
  .subtitle.is-5{
    max-width: 600px;
    margin: 20px auto;
    margin-bottom: 5px;
    font-size: 1em;
  }
  p {
    font-size: 0.8em;
    a {
      color: $purple;
      font-weight: 500;
      text-decoration: none;
    }
  }
  .services-container {
    width: 90%;
    .columns {
      flex-wrap: wrap;
    }
    .card {
      border-radius: 5px;
      transition: all .45s;
      &:hover {
        //transform: scale(1.05);
        transform: translateY(-10px);
        cursor: ne-resize;
      }
      .card-image {
        .figcaption-title {
          h4 {
            font-weight: 500;
            font-family: "Poppins", sans-serif;
            font-size: 2rem;
            font-stretch: normal;
            font-style: normal;
            text-align: center;
            color: $fog;
            text-decoration: none;
            line-height: 40px;
            letter-spacing: normal;
            margin: 0 auto;
            height: 40px;
            width: 120px;
            -webkit-transition: all 0.2s ease-in-out;
          }

          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          flex-direction: column;
          -webkit-box-pack: center;
          justify-content: center;
          padding: 0 3rem;
          z-index: 1;
          position: absolute;
          //background: rgba($dark-purple, .7);
          color: $fog;
          font-size: 1rem;
          text-align: center;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 1;
          -webkit-transition: .45s ease-in-out;
          transition: .45s ease-in-out;
          &:hover {
            opacity: 0;
          }
        }
        .figcaption-description {
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          flex-direction: column;
          -webkit-box-pack: center;
          justify-content: center;
          padding: 0 3rem;
          z-index: 1;
          position: absolute;
          background: $dark-purple;
          color: $fog;
          font-size: 1rem;
          text-align: center;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          -webkit-transition: .45s ease-in-out;
          transition: .45s ease-in-out;
          &:hover {
            opacity: 1;
          }

          a {
            color: $fog;
            border: 1.5px solid $purple;
            background: transparent;
            font-weight: 500;
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-stretch: normal;
            font-style: normal;
            border-radius: 30px;
            text-decoration: none;
            line-height: 40px;
            letter-spacing: normal;
            height: 40px;
            width: 130px;
            cursor: pointer;
            margin:  0 auto;
            -webkit-transition: all 0.2s ease-in-out;
          }
        }
      }
      .card-header {
        box-shadow: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        padding: 20px 0 0 0;
        margin: 30px 0 30px 0;
        span {
          margin: 1px;
        }
      }
      .card-content {
        padding: 0;
        .card-header-title {
          display: block;
          padding: 1rem 1.8rem 1rem 1.8rem;
          .portfolio-item-title {
            font-weight: 500;
            font-size: 1.2rem;
            color: $purple;
            a {
              color: $purple;
              &:hover {
                color: $purple;
              }
            }
          }
        }
        .p-info {
          padding: 0 1.8rem 1.8rem 1.8rem;
          margin-bottom: 3.5rem;
          font-size: 14px;
          text-align: left;
          word-break: break-word;
          box-sizing: content-box;
          color: $dark-purple;
          -webkit-font-smoothing: antialiased;
        }
        .project-tech-list {
          display: flex;
          font-size: 0.8em;
          font-weight: 300;
          align-items: flex-end;
          -webkit-box-flex: 1;
          flex-grow: 1;
          flex-wrap: wrap;
          width: 100%;
          position: absolute;
          bottom: 0;
          padding: 1rem 1rem 1.8rem 1.8rem;
          list-style: none;
          li {
            margin-right: 15px;
            color: rgba($purple, .6);
          }
        }
      }
    }
    .card:hover > .card-image .figcaption-description {
      opacity: 1;
    }
  }
}

#portfolio {
  background: $purple;
  h3 {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 150px;
    color: $fog;
    font-weight: 700;
  }
  .subtitle.is-5{
    max-width: 600px;
    margin: 20px auto;
    font-size: 1em;
    color: $fog;
  }
  .portfolio-container {
    width: 90%;
    .columns {
      flex-wrap: wrap;
    }
    .card {
      border-radius: 5px;
      background: $dark-purple;
      transition: all 1s;
      &:hover {
        //transform: scale(1.05);
        transform: translateY(-10px);
        cursor: ne-resize;
      }
      .card-header {
        box-shadow: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        padding: 20px 0 0 0;
        margin: 30px 0 30px 0;
        span {
          margin: 1px;
        }
        .project-folder {
          position: absolute;
          left: 1.8rem;
          img {
            width: 40px;
            height: 40px;
          }
        }
        .project-links {
          display: flex;
          flex-direction: row;
          align-content: center;
          justify-content: center;
          align-items: center;
          padding-right: 10px;
          img {
            width: 20px;
            height: 20px;
            margin-right: 15px;
          }
          a {
            color: #ccd6f6;
            &:hover {
              color: #64ffda;
            }
          }
        }
      }
      .image img {
        margin: 0 auto;
      }
      .card-content {
        padding: 0;
        .card-header-title {
          display: block;
          padding: 0 1.8rem 1em 1.8rem;
          .portfolio-item-title {
            font-weight: 500;
            font-size: 1.2rem;
            color: #ccd6f6;
            a {
              color: #ccd6f6;
              &:hover {
                color: $tint;
              }
            }
          }
        }
        .p-info {
          padding: 0 1.8rem 1.8rem 1.8rem;
          margin-bottom: 1.8rem;
          font-size: 14px;
          text-align: left;
          word-break: break-word;
          box-sizing: content-box;
          color: #8892b0;
          -webkit-font-smoothing: antialiased;
        }
        .project-tech-list {
          display: flex;
          font-size: 0.8em;
          font-weight: 300;
          align-items: flex-end;
          -webkit-box-flex: 1;
          flex-grow: 1;
          flex-wrap: wrap;
          width: 100%;
          position: absolute;
          bottom: 0;
          padding: 1rem 1rem 1.8rem 1.8rem;
          list-style: none;
          li {
            margin-right: 15px;
            color: #8892b0;
          }
        }
      }
    }
  }
  #view-all-works {
    margin-top: 50px;
    margin-bottom: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    flex-wrap: nowrap;

    #view-git {
      font-weight: 400;
      font-family: 'Poppins', sans-serif;
      font-size: 0.8rem;
      font-stretch: normal;
      font-style: normal;
      text-align: center;
      border: 1px solid $fog;
      border-radius: 30px;
      color: $purple;
      text-decoration: none;
      line-height: 40px;
      letter-spacing: normal;
      margin: 0 auto;
      height: 40px;
      width: 200px;
      cursor: pointer;
      -webkit-transition: all .2s ease-in-out;

      .fa-github {
        font-size: 20px;
        margin-right: 15px;
      }
    }
    #view-git:hover {
      background: $purple;
      color: $fog;
    }
  }
}

#personal-skills {
  margin-top: 150px;
  .my-item {
    width: 160px !important;
    height: 150px !important;
    background: $fog;
    border: 1px solid $purple;
    border-radius: 12px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;

    .fad {
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 0;
      color: $purple;
    }
  }
}

#outline {
  margin-top: 250px;
  .container.is-narrow {
    background: $dark-purple;
    max-width: 1200px;
    border: none;
    border-radius: 12px;
    .box {
      background: $dark-purple;
      padding: 3.5rem 2rem;
      margin-top: -8rem;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
      border: none;
      border-radius: 12px;
      .level-item {
        color: $fog !important;
        -webkit-box-align: center;
        h1 {
          color: $fog !important;
        }
        .button {
          font-weight: 500 !important;
          font-family: 'Poppins', sans-serif;
          font-size: 14px;
          font-stretch: normal;
          font-style: normal;
          border-radius: 30px;
          border: 2px solid $tint;
          text-decoration: none;
          line-height: 40px;
          letter-spacing: normal;
          cursor: pointer;
          background: transparent;
          color: $fog;
          padding: 20px 40px 20px 40px;
          -webkit-transition: all .2s ease-in-out;
        }
        .button:hover {
          background: $tint;
          color: $dark-purple;
        }
      }
    }
  }
  .call-to-action {

    .container {
      -webkit-box-flex: 1;
      flex-grow: 1;
      margin: 0 auto;
      position: relative;
      width: auto;
    }
  }
}
.section.is-primary {
  background: $purple;
  color: $fog;
}

.footer {
  background: $purple;
  color: $fog;
  text-align: center;
  .container {
    .media-center {
      margin: 0 auto;
    }
    #highlight{
      max-width: 400px;
      margin: 50px auto;
      font-weight: 300;
      font-size: 1.2rem;
      opacity: 0.8;
    }
    .icon {
      font-size: 18px;
      border: 2px solid rgba($fog, 0.5);
      border-radius: 100%;
      padding: 25px;
      cursor: pointer;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
    .icon:hover{
      background: $fog;
      i {
        color: $purple;
      }
    }
    #copyright {
      font-size: 0.8rem;
      margin-top: 50px;
    }
  }
  .made-by-bulma {
    text-align: center;
    opacity: 0.6;
    margin-top: 0.7rem;

    a {
      margin: 0 auto;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
