html, body {
  height: 100%;
  background-color: #F8F8F8;
  overscroll-behavior: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

body {
  overflow: auto;
  margin: 0;
  padding: 0;
}

.navbar.is-link {
  background-color: #F8F8F8;
}
.navbar.is-link .navbar-menu.is-active {
  background-color: #F8F8F8;
}
.navbar.is-link .navbar-brand .navbar-item {
  margin-left: 20px !important;
}
.navbar.is-link .navbar-brand .navbar-item img {
  max-height: 3rem;
}
.navbar.is-link .navbar-brand .navbar-item:hover {
  background: none !important;
}
.navbar.is-link .navbar-burger {
  color: #6A2DED;
}
.navbar.is-link .navbar-item {
  text-align: center;
  background: #F8F8F8;
  border: none;
}
.navbar.is-link .navbar-item a {
  margin: 20px !important;
  padding: 1.2rem;
  border: 2px solid #6A2DED;
  background: none;
  color: #6A2DED !important;
  text-align: center;
  font-weight: 500 !important;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  border-radius: 30px;
  text-decoration: none;
  letter-spacing: normal;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
}
.navbar.is-link .navbar-item .button.is-primary.is-outlined.is-rounded:hover {
  background: #6A2DED !important;
  color: #F8F8F8 !important;
  border: 2px solid #6A2DED;
}

.hero {
  background: #F8F8F8 !important;
}

.hero-body .container {
  color: #151D38;
  font-size: 1.4rem;
  line-height: 2;
}
.hero-body .container .title.is-1 {
  color: #6A2DED !important;
}
.hero-body .container .subtitle.is-3 {
  color: #151D38 !important;
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 2;
}
.hero-body .container .button {
  margin-top: 40px;
  margin-bottom: 0;
  height: 50px;
}
.hero-body .container #btn-hire, .hero-body .container #btn-resume {
  font-weight: 500 !important;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  border-radius: 30px;
  border: 2px solid #6A2DED;
  text-decoration: none;
  line-height: 40px;
  letter-spacing: normal;
  height: 40px;
  width: 130px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
}
.hero-body .container #btn-hire {
  background: #6A2DED;
  color: #F8F8F8;
  border: 2px solid #6A2DED;
  margin-right: 10px;
}
.hero-body .container #btn-resume {
  color: #6A2DED;
  border: 2px solid #6A2DED;
  background: transparent;
}
.hero-body .container #btn-resume:hover {
  background: #6A2DED;
  color: #F8F8F8;
  text-decoration: none;
}
.hero-body .container #btn-hire:hover {
  background: #F8F8F8;
  color: #6A2DED;
}
.hero-body .container .social {
  margin: 20px 0 0 0;
}
.hero-body .container .social a {
  background: #eeeeee;
  border-radius: 2px;
  color: #151D38;
  font-size: 18px;
  height: 32px;
  width: 32px;
  display: inline-flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  box-sizing: inherit;
  margin-right: 10px;
  -webkit-transition: all 0.2s ease-in-out;
}
.hero-body .container .social a > i {
  margin: 0 auto;
}
.hero-body .container .social .fab {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.hero-body .container .social .fa-linkedin-in, .hero-body .container .social .fa-github, .hero-body .container .social .fa-envelope {
  -webkit-transition: all 0.2s ease-in-out;
}
.hero-body .container .social .fa-linkedin-in:hover, .hero-body .container .social .fa-github:hover, .hero-body .container .social .fa-envelope:hover {
  color: #6A2DED;
  text-decoration: none;
}

#about {
  background: #6A2DED;
}
#about h3 {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 150px;
  color: #F8F8F8;
  font-weight: 700;
}
#about .section-heading .container {
  color: #F8F8F8;
  margin: 20px auto;
  max-width: 600px;
}
#about .box .columns.is-centered {
  margin: 0 auto;
}
#about .box .columns.is-centered .column i {
  color: #6A2DED;
  text-decoration: none;
  font-size: 28px;
}
#about .box .columns.is-centered .column .fas {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
#about .box .columns.is-centered .column .title.is-size-4.is-spaced {
  font-weight: 600;
  color: #151D38;
  font-size: 1.2rem !important;
}
#about .box .columns.is-centered .column .list-title.has-text-primary {
  font-weight: 600;
  font-size: 1rem !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #6A2DED !important;
}
#about .column {
  padding: 60px 35px;
}
#about .column ul {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
}

#skills {
  background: #6A2DED;
}
#skills h3 {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 150px;
  color: #F8F8F8;
  font-weight: 700;
}
#skills .section-heading .container {
  color: #F8F8F8;
  margin: 20px auto;
  max-width: 600px;
}
#skills .columns .column .card {
  background: none;
  box-shadow: none;
  height: 500px !important;
}
#skills .columns .column .card .card-content article {
  margin-bottom: 30px !important;
}
#skills .columns .column .card .card-content .media-content strong {
  color: #F8F8F8;
  font-weight: 600 !important;
  float: left;
  margin-bottom: 8px;
}
#skills .columns .column .card .card-content .media-content span {
  color: #F8F8F8;
  font-weight: 300 !important;
  float: right;
}

#services h3 {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 150px;
  color: #151D38;
  font-weight: 700;
}
#services .subtitle.is-5 {
  max-width: 600px;
  margin: 20px auto;
  margin-bottom: 5px;
  font-size: 1em;
}
#services p {
  font-size: 0.8em;
}
#services p a {
  color: #6A2DED;
  font-weight: 500;
  text-decoration: none;
}
#services .services-container {
  width: 90%;
}
#services .services-container .columns {
  flex-wrap: wrap;
}
#services .services-container .card {
  border-radius: 5px;
  transition: all 0.45s;
}
#services .services-container .card:hover {
  transform: translateY(-10px);
  cursor: ne-resize;
}
#services .services-container .card .card-image .figcaption-title {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0 3rem;
  z-index: 1;
  position: absolute;
  color: #F8F8F8;
  font-size: 1rem;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: 0.45s ease-in-out;
  transition: 0.45s ease-in-out;
}
#services .services-container .card .card-image .figcaption-title h4 {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #F8F8F8;
  text-decoration: none;
  line-height: 40px;
  letter-spacing: normal;
  margin: 0 auto;
  height: 40px;
  width: 120px;
  -webkit-transition: all 0.2s ease-in-out;
}
#services .services-container .card .card-image .figcaption-title:hover {
  opacity: 0;
}
#services .services-container .card .card-image .figcaption-description {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0 3rem;
  z-index: 1;
  position: absolute;
  background: #151D38;
  color: #F8F8F8;
  font-size: 1rem;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.45s ease-in-out;
  transition: 0.45s ease-in-out;
}
#services .services-container .card .card-image .figcaption-description:hover {
  opacity: 1;
}
#services .services-container .card .card-image .figcaption-description a {
  color: #F8F8F8;
  border: 1.5px solid #6A2DED;
  background: transparent;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  border-radius: 30px;
  text-decoration: none;
  line-height: 40px;
  letter-spacing: normal;
  height: 40px;
  width: 130px;
  cursor: pointer;
  margin: 0 auto;
  -webkit-transition: all 0.2s ease-in-out;
}
#services .services-container .card .card-header {
  box-shadow: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  padding: 20px 0 0 0;
  margin: 30px 0 30px 0;
}
#services .services-container .card .card-header span {
  margin: 1px;
}
#services .services-container .card .card-content {
  padding: 0;
}
#services .services-container .card .card-content .card-header-title {
  display: block;
  padding: 1rem 1.8rem 1rem 1.8rem;
}
#services .services-container .card .card-content .card-header-title .portfolio-item-title {
  font-weight: 500;
  font-size: 1.2rem;
  color: #6A2DED;
}
#services .services-container .card .card-content .card-header-title .portfolio-item-title a {
  color: #6A2DED;
}
#services .services-container .card .card-content .card-header-title .portfolio-item-title a:hover {
  color: #6A2DED;
}
#services .services-container .card .card-content .p-info {
  padding: 0 1.8rem 1.8rem 1.8rem;
  margin-bottom: 3.5rem;
  font-size: 14px;
  text-align: left;
  word-break: break-word;
  box-sizing: content-box;
  color: #151D38;
  -webkit-font-smoothing: antialiased;
}
#services .services-container .card .card-content .project-tech-list {
  display: flex;
  font-size: 0.8em;
  font-weight: 300;
  align-items: flex-end;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1rem 1rem 1.8rem 1.8rem;
  list-style: none;
}
#services .services-container .card .card-content .project-tech-list li {
  margin-right: 15px;
  color: rgba(106, 45, 237, 0.6);
}
#services .services-container .card:hover > .card-image .figcaption-description {
  opacity: 1;
}

#portfolio {
  background: #6A2DED;
}
#portfolio h3 {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 150px;
  color: #F8F8F8;
  font-weight: 700;
}
#portfolio .subtitle.is-5 {
  max-width: 600px;
  margin: 20px auto;
  font-size: 1em;
  color: #F8F8F8;
}
#portfolio .portfolio-container {
  width: 90%;
}
#portfolio .portfolio-container .columns {
  flex-wrap: wrap;
}
#portfolio .portfolio-container .card {
  border-radius: 5px;
  background: #151D38;
  transition: all 1s;
}
#portfolio .portfolio-container .card:hover {
  transform: translateY(-10px);
  cursor: ne-resize;
}
#portfolio .portfolio-container .card .card-header {
  box-shadow: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  padding: 20px 0 0 0;
  margin: 30px 0 30px 0;
}
#portfolio .portfolio-container .card .card-header span {
  margin: 1px;
}
#portfolio .portfolio-container .card .card-header .project-folder {
  position: absolute;
  left: 1.8rem;
}
#portfolio .portfolio-container .card .card-header .project-folder img {
  width: 40px;
  height: 40px;
}
#portfolio .portfolio-container .card .card-header .project-links {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}
#portfolio .portfolio-container .card .card-header .project-links img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
#portfolio .portfolio-container .card .card-header .project-links a {
  color: #ccd6f6;
}
#portfolio .portfolio-container .card .card-header .project-links a:hover {
  color: #64ffda;
}
#portfolio .portfolio-container .card .image img {
  margin: 0 auto;
}
#portfolio .portfolio-container .card .card-content {
  padding: 0;
}
#portfolio .portfolio-container .card .card-content .card-header-title {
  display: block;
  padding: 0 1.8rem 1em 1.8rem;
}
#portfolio .portfolio-container .card .card-content .card-header-title .portfolio-item-title {
  font-weight: 500;
  font-size: 1.2rem;
  color: #ccd6f6;
}
#portfolio .portfolio-container .card .card-content .card-header-title .portfolio-item-title a {
  color: #ccd6f6;
}
#portfolio .portfolio-container .card .card-content .card-header-title .portfolio-item-title a:hover {
  color: #64ffda;
}
#portfolio .portfolio-container .card .card-content .p-info {
  padding: 0 1.8rem 1.8rem 1.8rem;
  margin-bottom: 1.8rem;
  font-size: 14px;
  text-align: left;
  word-break: break-word;
  box-sizing: content-box;
  color: #8892b0;
  -webkit-font-smoothing: antialiased;
}
#portfolio .portfolio-container .card .card-content .project-tech-list {
  display: flex;
  font-size: 0.8em;
  font-weight: 300;
  align-items: flex-end;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1rem 1rem 1.8rem 1.8rem;
  list-style: none;
}
#portfolio .portfolio-container .card .card-content .project-tech-list li {
  margin-right: 15px;
  color: #8892b0;
}
#portfolio #view-all-works {
  margin-top: 50px;
  margin-bottom: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  flex-wrap: nowrap;
}
#portfolio #view-all-works #view-git {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  border: 1px solid #F8F8F8;
  border-radius: 30px;
  color: #6A2DED;
  text-decoration: none;
  line-height: 40px;
  letter-spacing: normal;
  margin: 0 auto;
  height: 40px;
  width: 200px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
}
#portfolio #view-all-works #view-git .fa-github {
  font-size: 20px;
  margin-right: 15px;
}
#portfolio #view-all-works #view-git:hover {
  background: #6A2DED;
  color: #F8F8F8;
}

#personal-skills {
  margin-top: 150px;
}
#personal-skills .my-item {
  width: 160px !important;
  height: 150px !important;
  background: #F8F8F8;
  border: 1px solid #6A2DED;
  border-radius: 12px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
#personal-skills .my-item .fad {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 0;
  color: #6A2DED;
}

#outline {
  margin-top: 250px;
}
#outline .container.is-narrow {
  background: #151D38;
  max-width: 1200px;
  border: none;
  border-radius: 12px;
}
#outline .container.is-narrow .box {
  background: #151D38;
  padding: 3.5rem 2rem;
  margin-top: -8rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
  border: none;
  border-radius: 12px;
}
#outline .container.is-narrow .box .level-item {
  color: #F8F8F8 !important;
  -webkit-box-align: center;
}
#outline .container.is-narrow .box .level-item h1 {
  color: #F8F8F8 !important;
}
#outline .container.is-narrow .box .level-item .button {
  font-weight: 500 !important;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  border-radius: 30px;
  border: 2px solid #64ffda;
  text-decoration: none;
  line-height: 40px;
  letter-spacing: normal;
  cursor: pointer;
  background: transparent;
  color: #F8F8F8;
  padding: 20px 40px 20px 40px;
  -webkit-transition: all 0.2s ease-in-out;
}
#outline .container.is-narrow .box .level-item .button:hover {
  background: #64ffda;
  color: #151D38;
}
#outline .call-to-action .container {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.section.is-primary {
  background: #6A2DED;
  color: #F8F8F8;
}

.footer {
  background: #6A2DED;
  color: #F8F8F8;
  text-align: center;
}
.footer .container .media-center {
  margin: 0 auto;
}
.footer .container #highlight {
  max-width: 400px;
  margin: 50px auto;
  font-weight: 300;
  font-size: 1.2rem;
  opacity: 0.8;
}
.footer .container .icon {
  font-size: 18px;
  border: 2px solid rgba(248, 248, 248, 0.5);
  border-radius: 100%;
  padding: 25px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.footer .container .icon:hover {
  background: #F8F8F8;
}
.footer .container .icon:hover i {
  color: #6A2DED;
}
.footer .container #copyright {
  font-size: 0.8rem;
  margin-top: 50px;
}
.footer .made-by-bulma {
  text-align: center;
  opacity: 0.6;
  margin-top: 0.7rem;
}
.footer .made-by-bulma a {
  margin: 0 auto;
  text-decoration: none;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
